/* scwidgets default cue box */

.scwidget-cue-box {
  border-left : 0px solid;
}

.scwidget-cue-box--cue {
  border-left : 5px solid;
  border-left-color: #000000;
}

/* scwidgets save cue box */

.scwidget-save-cue-box {
  border-left : 0px solid;
}

.scwidget-save-cue-box--cue {
  border-left : 5px solid;
  border-left-color: #77216F;
}

/* scwidgets check cue box */

.scwidget-check-cue-box {
  border-left : 0px solid;
}

.scwidget-check-cue-box--cue {
  border-left : 5px solid;
  border-left-color: #20b5e9;
}

/* scwidgets update cue box */

.scwidget-update-cue-box {
  border-left : 0px solid;
}

.scwidget-update-cue-box--cue {
  border-left : 5px solid;
  border-left-color: #e95420;
}

/* scwidgets default reset cue button */

.scwidget-reset-cue-button {
    border :  3px solid;
    border-color: #f4f2f0;
    background-color: #f4f2f0;
    height: auto;
}

.scwidget-reset-cue-button--cue {
    background-color: #545352;
    border-color: #545352;
}
