name: Tests - lab 3

on:
  push:
    branches: [main]
  pull_request:
    # Check all PR

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            python-version: "3.11"

    steps:
    - uses: actions/checkout@v3
    - name: Install Firefox
      uses: browser-actions/setup-firefox@latest

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install tox

    - name: run Python tests
      run: tox -e tests-lab-3

    - name: run Python tests for coverage
      run: tox -e coverage
    - uses: codecov/codecov-action@v3
      with:
        files: coverage.xml
        verbose: true

